// animation is slow so you can see it, but probably should be .25 or .15
$thetransition: all 0.75s cubic-bezier(1, 0.25, 0, 0.75) 0s;
$thecolor: #fbc02d;
#hover-parent:hover #hover-child {
  color: $thecolor;
  transition: $thetransition;
}

#hover-child {
  position: relative;
  display: inline-block;
}

#hover-child::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  top: 45%;
  margin-top: 22px;
  background: $thecolor;
}

#hover-parent:hover #hover-child::before {
  background: $thecolor;
  width: 100%;
  transition: $thetransition;
}
